body {
  font-size: 16px;
  color: black;
  background-color: white;
}
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  gap: 4px;
  text-align: center;
  min-height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.sidebar {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  grid-template-columns: subgrid;
  grid-template-rows: 1fr 6fr 3fr;
  background-color: rgb(27, 176, 176);
  color: white;
  align-content: center;
}
.sidebar-list1 {
  display: grid;
  grid-row: 2 / 3;
  list-style-type: none;
}
.sidebar-list2 {
  display: grid;
  grid-row: 3/4;
  list-style-type: none;
}
.sidebar-list1 li,
.sidebar-list2 li {
  display: grid;
  align-items: center;
  column-gap: 16px;
}
.sidebar-list1 p,
.sidebar-list2 p {
  grid-column: 2/3;
}
.sidebar-list1 img,
.sidebar-list2 img {
  grid-column: 1/2;
}

/* Trending start */
.trending {
  /* display: grid; */
  grid-column: 2/3;
  grid-row: 2/3;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr); */
}
.trending .tega::before {
  src: "account-circle";
  padding-right: 1rem;
}

.trending .morgan::before {
  content: "profile picture";
  padding-right: 1rem;
}

.trending .kendall::before {
  content: "profile picture";
  padding-right: 1rem;
}

.trending .alex::before {
  content: "profile picture";
  padding-right: 1rem;
}
/* Trending end */

.wrapper {
  display: grid;
  background-color: whitesmoke;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr;
}
/* Projects start */
.projects {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/3;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
.card .title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
}

.projects .card {
  background-color: #fff;
  color: black;
  text-align: center;
  width: 300px;
  padding: 1%;
  border: 2px solid;
  border-left-color: yellow;
}
/* Projects end */

/* Announcements start */
.announcements {
  grid-column: 2/3;
  grid-row: 2/3;
}
/* Announcements end */

/* Header section start */
.header {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;

  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 2fr;
}
/* searchbar should stretch and be rounded. */
.header .searchbar {
  grid-area: 1/1/2/2;
  justify-self: left;
  align-items: center;
}

/* Morgan account icon and name should all be on one line. */
.header .user-account {
  display: inline-grid;
  height: 3rem;
  grid-area: 1/2/2/3;
  grid-template-columns: 1fr 1fr 2fr;
  justify-self: right;
  align-items: center;
}
.header .welcome {
  display: inline-grid;
  grid-area: 2/1/3/2;
  grid-template-columns: 1fr 1fr; /* profile pic and username */
  grid-template-rows: 1fr 1fr;
  justify-self: left;
}
.header .welcome image {
  grid-column: 1/2;
  grid-row: 2/3;
  /* justify-self: left; */
  /* align-content: center; */
}
.header .welcome p {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: normal;
  justify-self: right;
}
.header .welcome .user {
  font-size: 1.3rem;
  font-weight: bold;
  /* padding: 4%; */
}

/* buttons should be in row 2 column 2 */
.header .btns {
  display: grid;
  grid-area: 2/2/3/3;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
}
.header .btns button {
  color: white;
  background-color: deepskyblue;
  border: none;
  font-size: 1.2rem;
  width: 150px;
  height: 2.5rem;
}
/* Header section ends */
